@import "reset";

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	margin: 0 8px;
}

h1 {
	flex: 0 0 auto;
	margin-top: 15px;
	font-size: 7vmin;
	font-weight: normal;
	font-family: "Georgia";
}
h1 a {
	color: inherit;
	text-decoration: none;
}

header#topnavibar {
	flex: 0 0 auto;
	background-color: #333;
	margin-top: 20px;
	position: sticky;
	top: 0;
	display: flex;
}

nav#navigation {
	flex: 1 1 auto;
	overflow-x: auto;
	white-space: nowrap;
}
nav#navigation a {
	display: inline-block;
	padding: 14px 16px;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
}
nav#navigation a:hover {
	color: black;
	background-color: #ddd;
}
nav#navigation a.active {
	color: white;
	background-color: #4CAF50;
}

nav#language {
	padding-right: 14px;
	text-align: center;
	align-self: center;
	color: #f2f2f2;
	flex: 0 0 auto;
}
nav#language ul {
	list-style-type: none;
}
nav#language li {
	display: inline;
}
nav#language li + li::before {
	content: " | ";
}
nav#language a {
	color: #4286f4;
	text-decoration: none;
}

main {
	flex: 1 0 auto;
	margin-top: 35px;
	font-family: "Georgia";
}

li {
	margin: 0 0 3px 0;
}

#site-footer {
	flex: 0 0 auto;
	margin-top: 70px;
	padding: 14px 20px;
	background-color: #ECECEC;
	display: flex;
	justify-content: space-between;
}

#site-footer-icon-link-github {
	margin-left: 5px;
}
#site-footer-icon-link-linkedin {
	margin-left: 3px;
}

.site-footer-icon {
	height: 22px;
	width: auto;
	vertical-align: middle;
}
