@charset "UTF-8";


@import "reset";
@import "fonts/cinzel/regular";


a {
	color: black;
}

address {
	border-style: solid;
	border-width: 5px;
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	padding: 4px;
	text-decoration: none;
}

body {
	display: grid;
	grid-row-gap: 4vh;
	width: 100vw;
}

header {
	display: grid;
	grid-row-gap: 3vh;
	justify-items: center;
}

main {
	display: grid;
	grid-row-gap: 2vh;
	grid-template-columns: auto;
	margin-left: auto;
	margin-right: auto;
}

section {
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: auto;
	justify-items: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 290px;
	&:hover {
		background-color: #51c7db;
	}
	& > h2 {
		display: contents;
	}
	& > ol {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		list-style-type: none;
		padding-left: 10%;
		padding-right: 10%;
		width: 100%;
	}
}

.email-part {
	width: 30%;
}

.icon {
	fill: black;
}

.icon-section {
	max-height: 35vw;
	width: 27px;
}

.icon-web {
	display: inline-block;
	max-height: 35vw;
	width: 38px;
}

#blog {
	margin-left: auto;
	margin-right: auto;
	&:hover {
		& #blog-icon {
			transform: rotate( 90deg );
		}
	}
}

#blog-icon {
	transition: transform 0.75s ease;
}

#blog-title {
	color: black;
	font-family: Cinzel;
	font-size: 25px;
	text-decoration: none;
}

#email {
	display: inline-block;
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	width: 100%;
	& > span {
		display: inline-block;
		margin-left: 0px;
		margin-right: 0px;
	}
}

#email-atsymbol {
	color: black;
	font-size: 18px;
	text-align: center;
}

#email-domain {
	color: red;
	text-align: left;
}

#email-localpart {
	color: blue;
	text-align: right;
}

#icon-code {
	stroke: black;
}

/*
#icon-parcels {
	stroke: black;
	@media (prefers-color-scheme: dark) {
		stroke: white;
	}
}
*/

#icon-parcels-opening {
	fill: white;
}

#icon-parcels-sides {
	//fill: black;
	stroke: white;
}

#icon-parcels-tape {
	fill: white;
}

#name {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: repeat( 2 , 30vw );
	text-align: center;
	& > tbody {
		display: contents;
	}
	& tr {
		display: grid;
	}
	& th {
		font-family: monospace;
		font-size: 12px;
		font-weight: normal;
	}
	& td {
		font-family: Garamond, serif;
		font-size: 30px;
	}
}

#name-forename {
	justify-content: right;
}

#name-surname {
	justify-content: left;
}

@media (min-height: 650px) {
	body {
		padding-bottom: 40px;
		padding-top: 35px;
	}
}

@media (min-width: 600px) {
	body {
		padding-left: 40px;
		padding-right: 35px;
	}
}

@media (prefers-color-scheme: dark) {
	a {
		color: white;
	}
	address {
		border-color: white;
	}
	body {
		background-color: black;
		color: white;
	}
	section {
		border-color: white;
	}
	.icon {
		fill: white;
	}
	#blog-title {
		color: white;
	}
	#email-atsymbol {
		color: white;
	}
	#icon-code {
		stroke: white;
	}
	#icon-parcels-opening {
		fill: black;
	}
	#icon-parcels-sides {
		//fill: white;
		stroke: black;
	}
	#icon-parcels-tape {
		fill: black;
	}
}
