@charset "UTF-8";


@import "reset";


a {
	text-decoration: none;
}


.certification-badge {
	max-width: 100%;
}

.follow-up-page {
	padding-bottom: 25mm;
	padding-left: 13mm;
	padding-right: 13mm;
	padding-top: 15mm;
	& > h2 {
		display: flex;
		flex-direction: row;
		font-family: 'Sorts Mill Goudy', serif;
		font-size: 22px;
		justify-content: space-evenly;
		margin-bottom: 10mm;
		text-align: center;
		text-transform: uppercase;
		&:before {
			content: "~";
		}
		&:after {
			content: "~";
		}
	}
}

.icon-table {
	th > svg {
		width: 20px;
		height: 20px;
		vertical-align: middle;
	}
	td {
		vertical-align: middle;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 15px;
		font-family: Georgia;
		font-size: 11pt;
		font-style: normal;
		& > a {
			color: black;
			font-family: monospace;
		}
		& > address {
			font-family: monospace;
			font-style: normal;
		}
	}
}

.page {
	// DIN A4
	height: 297mm;
	width: 210mm;
}

.panel-list {
	list-style-type: none;
	margin-left: 2mm;
	& > li {
		font-family: 'Sorts Mill Goudy', serif;
		font-size: 12pt;
		font-weight: bold;
		& + li {
			padding-top: 5px;
		}
	}
}

.resume {
	& > thead {
		& th {
			border-bottom: 1px solid rgba(0,0,0,.5);
			font-size: 10pt;
			font-weight: normal;
			padding-bottom: 3px;
		}
	}
	& > tbody {
		& > tr {
			&.current {
				//font-weight: bold;
			}
			&.at-smaato {
				//background-color: turquoise;
			}
			& > th {
				text-align: left;
				width: 135px;
				& > time {
					font-family: monospace;
					font-size: 10pt;
					font-weight: normal;
					&:first-child {
						&:after {
							content: "—";
							margin-left: 3px;
							margin-right: 3px;
						}
					}
				}
			}
			& > td {
				font-family: sans-serif;
				font-size: 11pt;
				padding-left: 10px;
				&.title {
					width: 210px;
				}
			}
			& + tr > * {
				padding-top: 5px;
			}
		}
	}
}

.extended-resume-entry {
	& > hgroup {
		display: grid;
		grid-template-columns: 70% 30%;

		& > .job-title {
			grid-column-end: 1;
			grid-column-start: 1;
			grid-row-end: 1;
			grid-row-start: 1;
		}
		& > .position-timespan {
			font-family: monospace;
			font-size: 10pt;
			font-weight: normal;
			grid-column-end: 2;
			grid-column-start: 2;
			grid-row-end: 1;
			grid-row-start: 1;
			&:first-child {
				&:after {
					content: "—";
					margin-left: 3px;
					margin-right: 3px;
				}
			}
		}
		& > .employer {
			grid-column-end: 1;
			grid-column-start: 1;
			grid-row-end: 2;
			grid-row-start: 2;
		}
		& > .job-location {
			grid-column-end: 2;
			grid-column-start: 2;
			grid-row-end: 2;
			grid-row-start: 2;
		}
	}
}

.skills {
	align-items: end;
	display: flex;
	flex-wrap: wrap;
	font-family: sans-serif;
	list-style-type: none;
	& > li {
		text-align: center;
	}
}

.topics-row {
	align-items: end;
	display: flex;
	flex-wrap: wrap;
	font-family: sans-serif;
	font-size: 11pt;
	column-gap: 25px;
	justify-content: center;
	list-style-type: none;
}


#certifications {
	column-gap: 4px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
	list-style-type: none;
	& > li {
		flex-basis: 40%;
	}
}

#page1 {
	display: grid;
	grid-template-columns: [l] 32% [r] auto;
}

#page1-left {
	height: 100%;
	padding-top: 15mm;
	padding-left: 8mm;
	padding-right: 8mm;
	grid-column: l;
	background-color: #3fa81c;
	background-color: #327aff;
	
	& > header {
		& > svg {
			padding-left: 7mm;
			padding-right: 7mm;
			width: 100%;
			margin-bottom: 4mm;
		}
		& > h1 {
			font-family: 'PT Serif', serif;
			font-size: 24px;
			font-weight: 575;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 4mm;
		}
	}
	
	& > section {
		& + section {
			margin-top: 7mm;
			padding-top: 7mm;
			border-top: 1px solid black;
		}
		& > h2 {
			font-family: 'Sorts Mill Goudy', serif;
			font-size: 22px;
			text-transform: uppercase;
			margin-bottom: 4mm;
		}
	}
}

#page1-right {
	height: 100%;
	padding-top: 10mm;
	grid-column: r;
	margin-left: 10mm;
	margin-right: 10mm;

	& > header {
		margin-bottom: 5mm;
	}

	& > section {
		& + section {
			margin-top: 0.6cm;
		}

		& > h2 {
			margin-bottom: 4mm;
			padding-top: 3mm;
			display: flex;
			flex-direction: row;
			&.middy {
				font-family: 'Sorts Mill Goudy', sans-serif;
				font-size: 18px;
				&:before {
					background-color: #a49a9a;
					content: '\a0';
					flex-grow: 1;
					height: 1px;
					margin-right: 15px;
					position: relative;
					top: 0.65em;
				}
				&:after {
					background-color: #a49a9a;
					content: '\a0';
					flex-grow: 1;
					height: 1px;
					margin-left: 15px;
					position: relative;
					top: 0.65em;
				}
			}
			&.biggy {
				font-family: 'Sorts Mill Goudy', serif;
				font-size: 22px;
				text-transform: uppercase;
				&:after {
					background-color: #a49a9a;
					content: '\a0';
					flex-grow: 1;
					height: 1px;
					margin-left: 10px;
					position: relative;
					top: 0.65em;
				}
			}
		}
	}
}

#page2 {
	& > section + section {
		margin-top: 25px;
	}
	& > section > h3 {
		display: flex;
		flex-direction: row;
		font-family: 'Sorts Mill Goudy', sans-serif;
		font-size: 18px;
		margin-bottom: 4mm;
		padding-top: 3mm;
		&:before {
			background-color: #a49a9a;
			content: '\a0';
			flex-grow: 1;
			height: 1px;
			margin-right: 15px;
			position: relative;
			top: 0.65em;
		}
		&:after {
			background-color: #a49a9a;
			content: '\a0';
			flex-grow: 1;
			height: 1px;
			margin-left: 15px;
			position: relative;
			top: 0.65em;
		}
	}

	& .skills {
		column-gap: 40px;
		font-size: 11pt;
		justify-content: center;
	}

	& .skills-secondary {
		font-size: 10pt;
		margin-top: 15px;
	}
}

#portfolio {
	& > ol {
		column-count: 2;
		column-gap: 13mm;
		list-style-type: none;
		& > li {
			border-color: black;
			border-style: solid;
			border-width: 2px;
			break-inside: avoid-column;
			margin-bottom: 30px;
			padding-bottom: 3mm;
			padding-left: 3mm;
			padding-right: 3mm;
			padding-top: 3mm;
			& > h3 {
				align-items: baseline;
				display: flex;
				justify-content: space-between;
				vertical-align: middle;
				& > a {
					display: contents;
					font-family: monospace;
					font-size: 9pt;
					& > .project_name {
						font-family: monospace;
						font-size: 14pt;
					}
				}
			}
			& > p {
				font-family: Georgia;
				font-size: 11pt;
				line-height: 17pt;
				margin-top: 15px;
				text-align: justify;
			}
		}
	}
}

#programminglanguages {
	& .skills {
		column-gap: 17px;
		justify-content: space-evenly;
		& figcaption {
			font-size: 10pt;
		}
		& svg {
			max-height: 35px;
			width: 35px;
		}
	}

	& .skills-secondary {
		margin-top: 25px;
		& figcaption {
			font-size: 9pt;
		}
		& svg {
			max-height: 30px;
			width: 30px;
		}
	}
}

#strengths {
	font-family: Georgia;
	font-size: 18px;
	list-style-type: none;
	text-align: center;
	& > li {
		display: inline;
		& + li:before {
			content: "\2022";
		}
	}
}

#topics {
	& > ol + ol {
		margin-top: 10px;
	}
}


@media print {
	@page {
		margin: 0;
	}
	a {
		color: black;
	}
	.page {
		& + .page {
			page-break-before: always;
		}
	}
	@media ( color: 0 ) {
		#page1-left {
			background-color: transparent;
			border-right-color: black;
			border-right-style: solid;
			border-right-width: 1px;
		}
	}
}

@media screen {
	.page {
		background-color: white;
		border-bottom-color: black;
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-left-color: black;
		border-left-style: solid;
		border-left-width: 2px;
		border-right-color: black;
		border-right-style: solid;
		border-right-width: 2px;
		border-top-color: black;
		border-top-style: solid;
		border-top-width: 2px;
	}
	@media ( max-width: 420mm ) {
		main {
			display: block;
		}
		.page {
			margin-left: auto;
			margin-right: auto;
		}
	}
	@media ( min-width: 420mm ) {
		body {
			background-color: #d3d3d3;
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 100vh;
		}
		main {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
