@media (max-width: 800px) {
	main > img {
		display: block;
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
	}
	
	main > div {
		max-width: 480px;
		margin: 20px auto 0;
	}
}

@media (min-width: 800px) {
	main {
		margin-left: 40px;
		display: grid;
		grid-template-columns: minmax(100px,220px) minmax(500px,550px);
		grid-column-gap: 40px;
	}
	
	main > img {
		grid-column: 1;
		width: 100%;
	}
	
	main > div {
		grid-column: 2;
	}
}

main p {
	margin-bottom: 16px;
}

main ul {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 40px;
	list-style-type: disc;
}
