---
---

@import "base";

@media (max-width: 600px) {
	main > img {
		display: none;
	}
}

@media (min-width: 600px) {
	main {
		display: grid;
		grid-template-columns: 16% auto;
		grid-column-gap: 25px;
	}
	
	main > img {
		grid-column: 1;
		width: 100%;
	}
	
	main > div {
		grid-column: 2;
	}
}

main p {
	margin-bottom: 16px;
}

main ul {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 40px;
	list-style-type: disc;
}
