---
---


@charset "UTF-8";


@import "reset";


@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.resources.www.djsp.eu/cinzel/regular.css');
@import url('https://fonts.resources.www.djsp.eu/tangerine/regular.css');


body {
	display: grid;
	grid-row-gap: 5vh;
	grid-template-rows: 20vh auto;
	height: 100vh;
	width: 100vw;
}

@media (min-height: 800px) {
	body {
		padding-bottom: 40px;
		padding-top: 35px;
	}
}

@media (min-width: 600px) {
	body {
		padding-left: 40px;
		padding-right: 35px;
	}
}

header {
	align-items: center;
	display: grid;
	grid-template-rows: 15vh auto;
	justify-items: center;
}

#photo {
	border-radius: 100%;
	max-height: 100%;
	max-width: 100%;

	&:hover {
		box-shadow:
			0
			0
			5px
			5px
			#51c7db;
	}
}

#name {
	font-family: Georgia;
	font-size: 30px;
}

main {
	margin-left: auto;
	margin-right: auto;
}

#nationality-flag {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 3vh;
	max-width: 3vw;
}

#section-info {
	display: table;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#section-info a {
	text-decoration: none;
}

#section-info a:link {
	color: black;
}

#section-info a:visited {
	color: black;
}

#section-info a:active {
	color: black;
}

.info-item {
	display: table-row;
}

.info-item:hover {
	background-color: #51c7db;
}

.info-left {
	display: table-cell;
	vertical-align: middle;
}

.info-icon {
	max-height: 3vh;
	max-width: 3vw;
}

.info-right {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#phonelist {
	display: grid;
	list-style-type: none;
}

.phonenumber {
	align-items: center;
	display: grid;
	grid-column-gap: 12px;
	grid-template-columns: 1.5vw 7vw;
	padding-top: 12px;
	padding-bottom: 12px;

	&:hover {
		background-color: #27a8be;
	}
}

.phoneicon {
	max-height: 100%;
	max-width: 100%;
}

#info-item-blog:hover #info-icon-blog {
	transform: rotate(90deg);
}

#info-icon-blog {
	transition: transform 0.75s ease;
}

#info-right-blog {
	font-family: Cinzel;
	font-size: 25px;
	text-decoration: none;
}


@function pow($number, $exponent) {
	$value: 1;

	@if $exponent > 0 {
		@for $i from 1 through $exponent {
			$value: $value * $number;
		}
	}

	@return $value;
}

@keyframes wiggle {
	@for $i from 0 through 100 {
		#{$i * 1%} {
			transform: rotate(#{pow(-1, floor($i / 50)) * (abs(abs($i % 50 - 25) - 25) / 25 * 22deg)});
		}
	}
}

#info-item-flaschenpost:hover #info-icon-flaschenpost {
	animation: wiggle .3s 2;
}

#info-right-flaschenpost {
	font-family: Tangerine;
	font-size: 35px;
}
