---
---


@charset "UTF-8";


@import "reset";


@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.resources.www.djsp.eu/cinzel/regular.css');


body {
	display: grid;
	grid-row-gap: 4vh;
	width: 100vw;
	@media (prefers-color-scheme: dark) {
		background-color: black;
		color: white;
	}
}

@media (min-height: 800px) {
	body {
		padding-bottom: 40px;
		padding-top: 35px;
	}
}

@media (min-width: 600px) {
	body {
		padding-left: 40px;
		padding-right: 35px;
	}
}

header {
	//align-items: center;
	display: grid;
	grid-row-gap: 3vh;
	//grid-template-rows: 15vh auto;
	justify-items: center;
}

main {
	//align-items: center;
	display: grid;
	grid-row-gap: 2vh;
	grid-template-columns: auto;
	//justify-items: center;
	margin-left: auto;
	margin-right: auto;
}

section {
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	//align-items: center;
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: auto;
	justify-items: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 290px;
	@media (prefers-color-scheme: dark) {
		border-color: white;
	}
	&:hover {
		background-color: #51c7db;
	}
}

.email-part {
	width: 30%;
}

.icon {
	fill: black;
	@media (prefers-color-scheme: dark) {
		fill: white;
	}
}

.icon-section {
	/*
	max-height: 3vh;
	max-width: 3vw;
	*/
	max-height: 3vh;
	width: calc( min( 27px , 3vw ) );
}

.icon-web {
	display: inline-block;
	/*
	max-height: 4vh;
	max-width: 4vw;
	*/
	max-height: 2vw;
	width: 2vw;
}

#address {
	border-style: solid;
	border-width: 5px;
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	padding: 4px;
	text-decoration: none;
	@media (prefers-color-scheme: dark) {
		border-color: white;
	}
}

#blog {
	//align-items: center;
	//justify-items: center;
	margin-left: auto;
	margin-right: auto;
	&:hover {
		& #blog-icon {
			transform: rotate( 90deg );
		}
	}
}

#blog-icon {
	transition: transform 0.75s ease;
}

#blog-title {
	color: black;
	font-family: Cinzel;
	font-size: 25px;
	text-decoration: none;
	@media (prefers-color-scheme: dark) {
		color: white;
	}
}

#email {
	display: inline-block;
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	width: 100%;
	& > span {
		display: inline-block;
		margin-left: 0px;
		margin-right: 0px;
	}
}

#email-atsymbol {
	color: black;
	font-size: 18px;
	text-align: center;
	@media (prefers-color-scheme: dark) {
		color: white;
	}
}

#email-domain {
	color: red;
	text-align: left;
}

#email-localpart {
	color: blue;
	text-align: right;
}

#icon-web-linkedin {
	fill: #0a66c2;
}

#name {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: repeat( 2 , 260px );
	text-align: center;
	& > tbody {
		display: contents;
	}
	& tr {
		display: grid;
	}
	& th {
		font-family: monospace;
		font-size: 12px;
		font-weight: normal;
	}
	& td {
		font-family: 'PT Serif';
		font-size: 30px;
	}
}

#name-forename {
	justify-content: right;
}

#name-surname {
	justify-content: left;
}
