---
---


@charset "UTF-8";


@import "reset";


@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.resources.www.djsp.eu/cinzel/regular.css');
@import url('https://fonts.resources.www.djsp.eu/tangerine/regular.css');


body {
	display: grid;
	grid-row-gap: 5vh;
	grid-template-rows: 24vh auto;
	height: 100vh;
	width: 100vw;
}

@media (min-height: 800px) {
	body {
		padding-bottom: 40px;
		padding-top: 35px;
	}
}

@media (min-width: 600px) {
	body {
		padding-left: 40px;
		padding-right: 35px;
	}

	.info-left {
		padding-left: 16px;
	}

	.info-right {
		padding-right: 16px;
	}
}

header {
	align-items: center;
	display: grid;
	grid-row-gap: 3vh;
	grid-template-rows: 15vh auto;
	justify-items: center;
}

#photo {
	border-radius: 100%;
	max-height: 15vh;

	&:hover {
		box-shadow:
			0
			0
			5px
			5px
			#51c7db;
	}
}

#name {
	font-family: Georgia;
	font-size: 30px;
}

main {
	margin-left: auto;
	margin-right: auto;
}

#section-info {
	display: table;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#section-info a {
	text-decoration: none;
}

#section-info a:link {
	color: black;
}

#section-info a:visited {
	color: black;
}

#section-info a:active {
	color: black;
}

.info-item {
	display: table-row;
}

.info-item:hover {
	background-color: #51c7db;
}

.info-left {
	display: table-cell;
	vertical-align: middle;
}

.info-icon {
	max-height: 3vh;
	max-width: 3vw;
}

.info-right {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#home-address {
	display: inline-block;
	font-style: normal;
	text-align: left;
}

#phonelist {
	display: table;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
}

.phoneentry {
	display: table-row;

	&:hover {
		background-color: #27a8be;
	}
}

.phoneicon {
	display: table-cell;
	max-width: 1.5vw;
	padding-bottom: 12px;
	padding-top: 12px;
	vertical-align: middle;
}

.phonenumber {
	display: table-cell;
	padding-bottom: 12px;
	padding-left: 14px;
	padding-top: 12px;
	text-align: left;
	vertical-align: middle;
}

.email-address , .web-address , .username {
	font-family: monospace;
}

#info-item-blog:hover #info-icon-blog {
	transform: rotate(90deg);
}

#info-icon-blog {
	transition: transform 0.75s ease;
}

#info-right-blog {
	font-family: Cinzel;
	font-size: 25px;
	text-decoration: none;
}

#info-right-flaschenpost {
	font-family: Tangerine;
	font-size: 35px;
}
