---
---

@import "base";

/*
main {
	margin-top: 0;
	margin-left: 0;
	background-color: gray;
}
*/

a {
	text-decoration: none;
}

ul > li + li {
	margin-top: 5px;
}

ul.sections {
	margin-top: 30px;
	/*margin-left: 30px;*/
	/*padding-top: 35px;*/
	-webkit-padding-start: 0;
	list-style-type: none;
}

/*
ul.sections > li {
	background-color: white;
}
*/

ul.sections > li > h2 {
	-webkit-margin-after: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	background-color: #4CAF40;
}

ul.sections > li + li {
	margin-top: 26px;
}

ul.sections > li > ul#langlist {
	margin-top: 15px;
}

ul.subsections {
	-webkit-padding-start: 0;
	list-style-type: none;
}

ul.subsections {
	padding-bottom: 10px;
	border-left: 4px solid black;
}

ul.subsections > li > h3 {
	-webkit-margin-before: 0;
	margin-bottom: 14px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 9px;
	background-color: #0079FF;
}

ul.subsections > li + li {
	margin-top: 20px;
}

ul.skill-list {
	padding-left: 40px;
	list-style-type: square;
}
