h2 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	background-color: #4CAF40;
}

h3 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 9px;
	background-color: #0079FF;
}

ul > li + li {
	margin-top: 5px;
}

ul.toplist {
	-webkit-padding-start: 0;
	list-style-type: none;
}

ul.toplist > li + li {
	margin-top: 26px;
}

ul.toplist > li > ul#langlist {
	margin-top: 15px;
}

ul.subsections {
	-webkit-padding-start: 0;
	list-style-type: none;
}

ul.subsections {
	padding-bottom: 10px;
	border-left: 4px solid black;
}

ul.subsections > li > h3 {
	margin-bottom: 14px;
}

ul.subsections > li + li {
	margin-top: 20px;
}
