h1 {
	margin-top: 15px;
	-webkit-margin-after: 0;
	font-size: 55px;
	font-weight: normal;
	font-family: "Georgia";
}

header {
	overflow: hidden;
	background-color: #333;
	margin-top: 20px;
}

nav.navigation {
	width: 80%;
}
nav.navigation a {
	padding: 14px 16px;
	float: left;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
}
nav.navigation a:hover {
	color: black;
	background-color: #ddd;
}
nav.navigation a.active {
	color: white;
	background-color: #4CAF50;
}

main {
	margin-top: 35px;
	margin-left: 30px;
	font-family: "Georgia";
}

li {
	margin: 0 0 3px 0;
}
