<!DOCTYPE html>
<html lang="{{ page.lang }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.versiontitle }} | {{ page.title }}</title>
		<link rel="icon" type="image/png" href="/assets/favicon.png">
		{% if page.css %}
		<link rel="stylesheet" type="text/css" href="/assets/css/{{ page.css }}.css">
		{% else %}
		<link rel="stylesheet" type="text/css" href="/assets/css/default.css">
		{% endif %}
	</head>
	<body>
		<h1><a href="home">{{ page.versiontitle }}</a></h1>
		<header class="topnavibar">
			<nav class="navigation">
				{% for item in site.data.pages[page.language] %}<a {% if item.permasub == page.permasub %}class="active"{% endif %} href="/{{page.lang}}/{{ item.permasub }}">{{ item.title }}</a>{% endfor %}
			</nav><nav class="language">
				{% include langnav/{{ page.language }}.html %}
			</nav>
		</header>
		<main>
			{{ content }}
		</main>
	</body>
</html>
