---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.versiontitle }} | {{ page.title }}</title>
		<link rel="icon" type="image/png" href="/assets/favicon.png">
		<style>
			{%- capture css -%}
				@import "base";
				{% if page.css %}
					@import "{{ page.css }}";
				{% endif %}
			{%- endcapture -%}
			{{- css | scssify -}}
		</style>
	</head>
	<body>
		<h1 id="site-title"><a href="home">{{ page.versiontitle }}</a></h1>
		<header id="topnavibar">
			<nav id="navigation">
				{% for item in site.data.pages[page.language] %}<a {% unless item.url %}{% if item.permasub == page.permasub %}class="active"{% endif %} href="/{{page.lang}}/{{ item.permasub }}"{% else %}href="{{ item.url }}"{% endunless %}>{{ item.title }}</a>{% endfor %}
			</nav><nav id="language">
				{% include langnav/{{ page.language }}.html %}
			</nav>
		</header>
		<main>
			{{ content }}
		</main>
		<footer id="site-footer">
			<nav>
				<a id="site-footer-icon-link-blog" class="site-footer-icon-link" href="/blog/{{ page.lang }}/home">{% include embed/svg.html name="blog" class="site-footer-icon" %}</a>
			</nav>
			<nav>
				<a id="site-footer-icon-link-mail" class="site-footer-icon-link" href="mailto:david@davidjsp.eu">{% include embed/svg.html name="mail" class="site-footer-icon" %}</a>
				<a id="site-footer-icon-link-github" class="site-footer-icon-link" href="https://github.com/kalrish">{% include embed/svg.html name="github" class="site-footer-icon" %}</a>
				<a id="site-footer-icon-link-linkedin" class="site-footer-icon-link" href="https://www.linkedin.com/in/davidjsp">{% include embed/svg.html name="linkedin" class="site-footer-icon" %}</a>
			</nav>
		</footer>
	</body>
</html>
