<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.versiontitle }} | {{ page.title }}</title>
		<link rel="icon" type="image/png" href="/assets/favicon.png">
		<link rel="stylesheet" type="text/css" href="/assets/style.css">
	</head>
	<body>
		<h1><a href="home">{{ page.versiontitle }}</a></h1>
		<header>
			<nav class="navigation">
				{% for item in site.data.pages[page.language] %}<a {% if item.permasub == page.permasub %}class="active"{% endif %} href="/{{page.lang}}/{{ item.permasub }}">{{ item.title }}</a>{% endfor %}
			</nav><nav class="language">
				{% include langnav/{{ page.language }}.html %}
			</nav>
		</header>
		<main>
			{{ content }}
		</main>
	</body>
</html>
